
.CommentCard {
  /* primary colors */
  --primary-color-100: #A4AAA4;
  --primary-color-200: #639963;
  --primary-color-300: #2D882D;
  --primary-color-400: #027702;
  --primary-color-500: #006600;

  /* secondary colors */
  --secondary-color-100: #86888A;
  --secondary-color-200: #54687C;
  --secondary-color-300: #2A4D6E;
  --secondary-color-400: #093561;
  --secondary-color-500: #012A53;

  /* spacing */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;

  box-sizing: border-box;
  background-color: var(--secondary-color-400);
  color: var(--primary-color-100);

  display: flex;
  flex-direction: row;
}

.CommentCard-image {
  background-color: var(--primary-color-300);
  margin: var(--spacing-3);
  min-width: 64px;
}

.CommentCard-textContainer {
  text-align: left;
}
